.redsvg {
  svg {
    stroke: red;
    fill: red;
    // path {
    //   fill: black;
    // }
  }
}
.blacksvg {
  svg {
    stroke: black;
    fill: black;
    // path {
    //   fill: black;
    // }
  }
}
