@import "tailwindcss";

html, body {
  @apply w-full text-gray-900 antialiased;
}

.last-seen_products .slick-slide > div {
  padding: 0 0 0 16px;
  box-sizing: border-box;
}

.last-seen_products .slick-track {
  margin-left: -8px;
  margin-right: -8px;
}
.last-seen_products .slick-dots {
  bottom: -35px !important;
}

.slick-dots {
  bottom: 70px !important;
}

.slick-dots li{
  margin: 0 !important;
  width: 12px !important;
  height: 12px !important;
}

.custom-width{
  max-width: 1100px;
}

@theme inline {
  --color-cultured: #f5f5f5;
  --color-granite-grey: #656565;
  --color-baltic-sea:#211C24;
  --color-god-grey:#181313;
  --color-alto: #CFCFCF;
  --color-alabaster: #FAFAFA;
  --color-gallery: #EDEDED;
  --color-wildsand: #F6F6F6;
  --color-gray: #909090;
  --color-mine-shaft: #2E2E2E;
  --color-boulder: #787878;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 24px;
  --spacing-2xlarge: 32px;
  --spacing-3xlarge: 40px;
  --spacing-4xlarge: 48px;

  --shadow-custom: 0px 0px 0px 1px rgb(140 140 140/.2);

  --main-container: 1100px;
}

