@import "tailwindcss";

html, body {
  @apply w-full h-full bg-gray-50 text-gray-900 antialiased;
}

@theme inline {
  --color-cultured: #f5f5f5;
  --color-granite-grey: #656565;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 32px;
}

