@import "tailwindcss";

html, body {
  @apply w-full h-full bg-gray-50 text-gray-900 antialiased;
}

@theme inline {
  --color-cultured: #f5f5f5;
  --color-granite-grey: #656565;
  --color-baltic-sea:#211C24;
  --color-god-grey:#181313;
  --color-alto: #CFCFCF;
  --color-alabaster: #FAFAFA;
  --color-gallery: #EDEDED;
  --color-wildsand: #F6F6F6;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 24px;
  --spacing-2xlarge: 32px;
  --spacing-3xlarge: 40px;
  --spacing-4xlarge: 48px;
}

